/* Temel reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tam ekran siyah arka plan */
body, html {
  height: 100%;
  background-color: #000;
  font-family: 'Arial', sans-serif;
}

/* Ortalanmış yazı */
.coming-soon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
